.bg_image {
  padding-top: 20px;
  background-image: url(..//images/bg_image_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 105px;
  margin-bottom: 60px;
}
