.Introducing-Mobileapp_title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 7px;

}

.Introducing-Mobileapp_about {
  margin: 0;
  padding: 0;
  width: 200px;
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 30px;
}

.Introducing-Mobileapp_list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 15px;
  margin-bottom: 30px;
}

.Introducing-Mobileapp_list_item {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 36px;
  text-align: left;
}

.Introducing-Mobileapp_list_item::before {
  padding-right: 10px;
  width: 20px;
  content: "\003E";

}

.Introducing-Mobileapp_list_item:hover::before {
  color: black;
  padding-right: 10px;
  width: 20px;
  content: "\003E";
}
